.container {
    width: 60%;
    margin: 100px auto;
}

.input{
    font-size: 25px;
    width: 80%;
}

.suggestion{
    font-size: 22px;
    width: 60%;
}

.suggestion:hover{
    background-color: cornflowerblue;
    color: #ffff;
}